<!DOCTYPE html>
<html>
  <head>
    <title>Denden</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fa11c5dd7a.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <header>
  <div class="header-logo">
    <h1>Sakebukuro</h1>
  </div>
  <div class="openbtn"><span></span><span></span><span></span></div>
  <nav id="g-nav">
    <div id="g-nav-list">
      <ul> 
        <li>
        <%= link_to "Top", top_path %>
        </li>
        <li>
        <%= link_to "Diagnosis", perfumes_path %>
        </li>   
        <li>
        <%= link_to "Post", new_post_path %>
        </li>
        <li>
        <%= link_to "List", posts_path %>
        </li>
      
        <% if user_signed_in? %>
              <li>
              <%= link_to "Mypage", user_path(current_user.id) %>
              <li>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              </li>
        <% else %>
            <li><%= link_to "Signin", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      
      </ul>
    </div>
  </nav>
  </header>
    <main>
      <%= yield %>
    </main>
  </body>
  <footer>
  <div class ="asimoto">
  <p>カクテルについて</p>
    <div class ="mottoasimoto">
      <div class ="spirits">
        <a href= "https://www.suntory.co.jp/wnb/guide/spirits/01/" target="_blank" >
          スピリッツについて
        </a>
      </div>
      <div class ="liqueur">
        <a href= "https://www.suntory.co.jp/wnb/guide/liqueur/" target="_blank" >
          リキュールについて
        </a>
      </div>
      <div class ="method">
        <a href= "https://www.suntory.co.jp/wnb/guide/cocktail/" target="_blank" >
          製法について
        </a>
      </div>
    </div>
  </div>
  </footer>
</html>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  $(".openbtn").click(function () {
    $(this).toggleClass("active");
    $("#g-nav").toggleClass("panelactive");
  });
  $("#g-nav a").click(function () {
   $(".openbtn").removeClass("active");
   $("#g-nav").removeClass("panelactive");
  });
</script>